<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master</title>
</head>
<body>
    <table border="1" width = "100%">
        <tr>
            <td><h1>Shobit Site</h1></td>
        </tr>

        <tr>
            <td>
            <a href= "/">Home</a>
            <a href= "/about">About</a>
            <a href= "/contact">Contact</a>
        </td> 
        </tr>

        <tr>
        <td>

        </td> 
        </tr>
    </table>
</body>
</html>